{% extends 'base.html' %}
{% block header %}
  {% block title %}Staff details{% endblock %}
{% endblock %}
{% block content %}
<div class="page-container">
  <form action="dashboard" method="post">
    <!-- main content area start -->
    <div class="main-content">
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
              <div class="card">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Dashboard</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="index.html">Home</a></li>
                            <li><span>Dashboard</span></li>
                        </ul>
                    </div>
                </div>
                    <div class="card-body">
                        <button type="submit" class="btn btn-flat btn-primary mb-3" name="pop" value="popcust">Populate Customers</button>
                        <button type="submit" class="btn btn-flat btn-primary mb-3" name="pop" value="poprides">Populate Rides</button>
                        <button type="submit" class="btn btn-flat btn-primary mb-3" name="pop" value="startpark">start park</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <!-- visitor graph area start -->
            <div class="row">
              <div class="col-lg-6 mt-5">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="header-title mb-0">Visitor Graph</h4>
                          <canvas id="visitor_graph" class="chart"></canvas>
                      </div>
                  </div>
              </div>
              <!-- visitor graph area end -->
              <!-- customerrides graph area start -->
              <div class="col-lg-6 mt-5">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="header-title mb-0">Rides Graph</h4>
                          <div id="chartdiv" style="width : 100%; height : 500px"></div>
                      </div>
                  </div>
              </div>
            </div>
            <!-- customerrides graph area end -->
            <!-- order list area start -->
            <div class="col-6 mt-5">
              <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Customer List</h4>
                    <div id="data-tables" class="data-tables datatable-primary">
                        <table id="dataTable" class="datatable text-center">
                              <thead class="text-capitalize">
                                <tr>
                                    <td>Name</td>
                                    <td>Age</td>
                                    <td>Type</td>
                                </tr>
                              </thead>
                              <tbody>
                                {% for customer in customers: %}
                                <tr>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.age }}</td>
                                    <td>{{ customer.type }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
            <!-- order list area end -->
                <!-- product sold area start -->
                <!--div class="col-12 mt-5">
                  <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Customer Rides</h4>
                        <div id="data-tables" class="data-tables datatable-primary">
                          <table id="dataTable" class="datatable text-center">
                            <thead class="text-capitalize">
                              <tr>
                                <td>Customer</td>
                                <td>Ride</td>
                                <td>Time</td>
                              </tr>
                            </thead>
                            <tbody>
                              {% for customer in customerRides: %}
                                  <tr>
                                    <td>{{ customer.customerId }}</td>
                                    <td>{{ customer.rideId }}</td>
                                    <td>{{ customer.time.strftime("%B %d, %y") }}</td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div-->
                <!-- product sold area end -->
            </div>
        </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <div class="footer-area">
            <p>© Copyright 2018 . All right reserved</p>
        </div>
    </footer>
    <!-- footer area end-->
<!-- page container area end -->
  </form>
</div>
{% endblock %}
