{% extends 'base.html' %}
{% block header %}
  {% block title %}Staff details{% endblock %}
  {% block met %}<meta http-equiv="refresh" content="10" >{% endblock %}
{% endblock %}
{% block content %}
<form action="dashboard" method="post">
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
          <div class="card">
            <div class="card-body">
                <button type="submit" class="btn btn-flat btn-primary mb-3" name="pop" value="popcust">Populate Customers</button>
                <button type="submit" class="btn btn-flat btn-primary mb-3" name="pop" value="startpark">Start park</button>
                <button type="submit" class="btn btn-flat btn-primary mb-3" name="pop" value="stoppark">Stop park</button>
            </div>
          </div>
        </div>
    </div>
    <!-- page title area end -->
    <div class="main-content-inner">
      <div class="row">
        <!-- per day stats area start -->
        <div class="col-6 mt-5">
          <div class="card">
            <div class="card-body">
                <h4 class="header-title">Per Day Statistics</h4>
                <div id="" class="data-tables datatable-primary">
                    <table id="" class="datatable text-center">
                          <thead class="text-capitalize">
                            <tr>
                                <td>Date</td>
                                <td>Revenue</td>
                                <td>Footfall</td>
                            </tr>
                          </thead>
                          <tbody>
                            {% for day in dayStats: %}
                            <tr>
                                <td>{{ day.time.strftime("%d %b %Y") }}</td>
                                <td>{{ day.day_rev }}</td>
                                <td>{{ day.day_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
        <!-- per day stats area end -->
        <div class="col-lg-12 mt-5">
            <div class="card">
                <div class="card-body"-->
                    <h4 class="header-title mb-0">Per Day Statistics</h4>
                    <div id="day_stats" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
        </div>
      </div>
        <!-- per day ride count stats area start -->
        <div class="col-15 mt-5">
          <div class="card">
            <div class="card-body">
                <h4 class="header-title">Per Day Ride Count Statistics</h4>
                <div id="data-tables" class="data-tables datatable-primary">
                    <table id="" class="datatable text-center">
                          <thead class="text-capitalize">
                            <tr>
                                <td>Date</td>
                                <td>Carousel</td>
                                <td>Darkride</td>
                                <td>Droptower</td>
                                <td>Ferriswheel</td>
                                <td>Gyrotower</td>
                                <td>Rollercoaster</td>
                                <td>Waterride</td>
                                <td>SpiralSlide</td>
                                <td>Circus</td>
                                <td>Gravitron</td>
                            </tr>
                          </thead>
                          <tbody>
                            {% for day in dayridecnt: %}
                            <tr>
                                <td>{{ day.time.strftime("%d %b %Y") }}</td>
                                <td>{{ day.Carousel }}</td>
                                <td>{{ day.Darkride }}</td>
                                <td>{{ day.Droptower }}</td>
                                <td>{{ day.Ferriswheel }}</td>
                                <td>{{ day.Gyrotower }}</td>
                                <td>{{ day.Rollercoaster }}</td>
                                <td>{{ day.Waterride }}</td>
                                <td>{{ day.SpiralSlide }}</td>
                                <td>{{ day.Circus }}</td>
                                <td>{{ day.Gravitron }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
        <!-- per day ride count stats area end -->
        <!-- per day ride Revenue stats area start -->
        <div class="col-15 mt-5">
          <div class="card">
            <div class="card-body">
                <h4 class="header-title">Per Day Ride Revenue Statistics</h4>
                <div id="data-tables" class="data-tables datatable-primary">
                    <table id="" class="datatable text-center">
                          <thead class="text-capitalize">
                            <tr>
                                <td>Date</td>
                                <td>Carousel</td>
                                <td>Darkride</td>
                                <td>Droptower</td>
                                <td>Ferriswheel</td>
                                <td>Gyrotower</td>
                                <td>Rollercoaster</td>
                                <td>Waterride</td>
                                <td>SpiralSlide</td>
                                <td>Circus</td>
                                <td>Gravitron</td>
                            </tr>
                          </thead>
                          <tbody>
                            {% for day in dayriderev: %}
                            <tr>
                                <td>{{ day.time.strftime("%d %b %Y") }}</td>
                                <td>{{ day.Carousel }}</td>
                                <td>{{ day.Darkride }}</td>
                                <td>{{ day.Droptower }}</td>
                                <td>{{ day.Ferriswheel }}</td>
                                <td>{{ day.Gyrotower }}</td>
                                <td>{{ day.Rollercoaster }}</td>
                                <td>{{ day.Waterride }}</td>
                                <td>{{ day.SpiralSlide }}</td>
                                <td>{{ day.Circus }}</td>
                                <td>{{ day.Gravitron }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        <!-- per day ride Revenue stats area end -->
      </div>
    </div>
  </div>
  <!-- footer area start-->
  <footer>
      <div class="footer-area">
          <p>© Copyright 2018 . All right reserved</p>
      </div>
  </footer>
  <!-- footer area end-->
</form>
{% endblock %}
