{% extends "base.html" %}

{% block title %}Staff details{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Age</th>
			<th scope="col">Salary</th>
			<th scope="col">Work</th>
		</tr>
	</thead>
	{% for staff in staff_list: %}
	<tr>
		<td>{{ staff["Id"] }}</td>
		<td>{{ staff["name"] }}</td>
		<td>{{ staff["age"] }}</td>
		<td>{{ staff["salary"] }}</td>
		<td>{{ staff["work"] }}</td>
		<td>
			<a class="btn btn-outline-secondary btn-sm" href="./update/{{staff.Id}}"><i class="fa fa-pencil"></i></a>
			<a class="btn btn-outline-secondary btn-sm" href="./delete/{{staff.Id}}"><i class="fa fa-trash"></i></a>
		</td>
	</tr>
	{% endfor %}
</table>
<a class="btn btn-secondary" href="./create"><i class="fa fa-plus"></i></a>
{% endblock %}
