<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>APMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/metisMenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.css" />
    <!-- datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">

    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/typography.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/default-css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/responsive.css')}}">
    <!-- modernizr css -->
    <script src="{{url_for('static', filename='assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
      <form action="Rides" method="post">
        <!-- sidebar menu area start -->
       <div class="sidebar-menu">
        <div class="sidebar-header">
          <h2><a style="font-family:georgia,garamond,serif; color:white; font-size:30px;" class="btn btn-dark" href="{{url_for('index')}}">Admin Portal</a></h2>
        </div>
        <div class="main-menu">
            <nav>
              <ul class="metismenu" id="menu">
                  <li><a href="{{url_for('carousel')}}"><i class="ti-receipt"></i> <span>Carousel</span></a></li>
                  <li><a href="{{url_for('darkride')}}"><i class="ti-receipt"></i> <span>Dark Ride</span></a></li>
                  <li><a href="{{url_for('droptower')}}"><i class="ti-map-alt"></i> <span>Drop Tower</span></a></li>
                  <li><a href="{{url_for('gyrotower')}}"><i class="ti-map-alt"></i> <span>Gyro Tower</span></a></li>
                  <li><a href="{{url_for('rollercoaster')}}"><i class="ti-map-alt"></i> <span>Rollercoaster</span></a></li>
                  <li><a href="{{url_for('waterride')}}"><i class="ti-map-alt"></i> <span>Water Ride</span></a></li>
                  <li><a href="{{url_for('spiralslide')}}"><i class="ti-map-alt"></i> <span>Spiral Slide</span></a></li>
                  <li><a href="{{url_for('circus')}}"><i class="ti-map-alt"></i> <span>Circus</span></a></li>
                  <li><a href="{{url_for('gravitron')}}"><i class="ti-map-alt"></i> <span>Gravitron</span></a></li>
              </ul>
          </nav>
        </div>
      </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
              <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8 clearfix">
                  <div class="pull-right">
                    <h2 style="color:#333744;">AMUSEMENT PARK MANAGEMENT SYSTEM</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-content-inner">
              <div class="row">
                <!-- per day stats area start -->
                <div class="col-6 mt-5">
                  <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Rides</h4>
                        <div id="" class="data-tables datatable-primary">
                            <table id="" class="datatable text-center">
                                  <thead class="text-capitalize">
                                    <tr>
                                        <td>Name</td>
                                        <td>Price</td>
                                        <td>Maintenance</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for ride in Rides: %}
                                    <tr>
                                        <td>{{ ride.name }}</td>
                                        <td>{{ ride.price }}</td>
                                        <td>{{ ride.maintenance_cost }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- footer area start-->
          <footer>
              <div class="footer-area">
                  <p>© Copyright 2018 . All right reserved</p>
              </div>
          </footer>
          <!-- footer area end-->
        </form>
      </div>
      <!-- jquery latest version -->
      <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
      <!-- others css -->
      <link rel="stylesheet" href="{{url_for('static', filename='assets/css/typography.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='assets/css/default-css.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='assets/css/styles.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='assets/css/responsive.css')}}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js"></script>
      <!-- modernizr css -->
      <script src="{{url_for('static', filename='assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>

      <!-- others plugins -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
      <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
      </script>
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
      <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
      <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
      <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
      <!-- all line chart activation -->
      <script src="{{url_for('static', filename='assets/js/line-chart.js')}}"></script>
      <script src="{{url_for('static', filename='assets/js/bar-chart.js')}}"></script>
      <!-- others plugins -->
      <script src="{{url_for('static', filename='assets/js/plugins.js')}}"></script>
      <script src="{{url_for('static', filename='assets/js/scripts.js')}}"></script>
      <script>$(document).ready(function() { $('.datatable').dataTable(); });</script>
  </body>

  </html-->
